<h5  ng-switch on="itemsPerPage < totalItems"  ng-show="totalItems">
    <div ng-switch-when="true">Showing {{(currentPage - 1 )*itemsPerPage + 1}} - {{currentPage * itemsPerPage < totalItems ? currentPage * itemsPerPage : totalItems}} of  {{totalItems}} entries</div>
    <div ng-switch-when="false">{{totalItems}}
        <ng-pluralize count="totalItems"   when="{'0': ' entries ',  '1': ' entry ',  'other': ' entries'}"/>
         found</div>
</h5>
<h5 ng-show="!totalItems">No data found</h5>
<div ng-show="itemsPerPage < totalItems">
    <uib-pagination
            style="margin: 5px 0"
            force-ellipses="false"
            max-size="maxSize"
            items-per-page="itemsPerPage"
            ng-change="pageChanged(this)"
            boundary-links="true"
            total-items="totalItems"
            ng-model="currentPage"
            previous-text="&lsaquo;"
            next-text="&rsaquo;"
            first-text="&laquo;"
            last-text="&raquo;"/>
</div>

